{% extends "base.html" %}
{% block content %}
{% load static %}   
    
<h1 class="text-center" style="color:rgb(10, 207, 53) ;"> Fiche technique Trottinette Électrique </h1>
<img src="{% static 'images/fiche.jpeg' %}" alt="information technique" width="100%" height="100%" object-fit="cover"  ><br><br>


<h2 class="text-center" style="color:rgb(10, 207, 53) ;"> Une Trottinette Électrique facile à plier :  </h2><br>
<video width="100%" height="50%px" margin= "0 auto" display=" block" align-content= "center" controls="controls" >
        <source src="{% static 'images/video_xiaomi.mp4' %}" type="video/mp4">
</video>  <br><br>

<h2 class="text-center" style="color:rgb(10, 207, 53) ;"> Un double disque de freinage :  </h2><br>
<video width="100%" height="50%px" margin= "0 auto" display=" block" align-content= "center" controls="controls" >
        <source src="{% static 'images/freinage.mp4' %}" type="video/mp4">
</video>  <br><br>


{% endblock %}