{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container text-center mt-6 mb-5"><br>
  
    <h1 style="color:rgb(10, 207, 53);">Welcome to MyRide</h1>
    <p>It's the bright one!  
       It's the right one!  
       It's MyRide!</p> <br>
    <h1>Qui sommes nous ?</h1> <br> 
    <h3>Notre mission : construire un avenir où le transport est partagé, accessible à tous et bas carbone.</h3>

    <div class="row">
        <div class="col-lg-6">
          
            <div class="card" style="width: 30rem;">
                <img src="{% static 'images/trottinette.jpeg' %}" alt="My image" height="400" width="400">
            
                <div class="card-body">
                  <h5 class="card-title">Trottinette électrique.</h5>
                  <a href="{% url 'detail' %}" class="btn btn-success">En savoir plus</a>
                </div>
              </div>
        </div>

        <div class="col-lg-4"> 
            <div class="card" style="width: 30rem;">
              <img src="{% static 'images/veloo.png' %}" alt="My image" height="400" width="400">
                <div class="card-body">
                  <h5 class="card-title">Vélo électrique.</h5>
                  
                  <a href="{% url 'detail' %}" class="btn btn-success">En savoir plus</a>
                </div>
            </div>
        </div>

    </div> <br>
    
    <h3 style="color:rgb(10, 207, 53);">Ce qui nous rend unique</h3>
    <h2>Nos principes</h2>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="{% static 'images/casque.jpeg' %}" class="card-img-top" alt="...">
                <!-- <img src= alt=".." height="400" width="400"> -->
                <div class="card-body">
                  <h5 class="card-title">La sécurité</h5>
                  <p class="card-text">Notre priorité absolu.</p>
                </div>
              </div>
            </div>
              <div class="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'images/world2.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">La durabilité</h5>
                      <p class="card-text">Notre engagement bas carbone.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow" style="width: 18rem;">
                        <img src="{% static 'images/communaute.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">La communauté</h5>
                          <p class="card-text">La mobilité pour tous.</p>
                        </div>
                      </div>
                    </div>
<br>
                    <div class="container text-center"><br>
                    <h3 style="color:rgb(10, 207, 53);">Notre promesse</h3>
                    <h2>Nos engagements</h2>
                    </div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="{% static 'images/replace.png' %}" class="card-img-top" alt="...">
                <!-- <img src= alt=".." height="400" width="400"> -->
                <div class="card-body">
                  <h5 class="card-title">Une vraie alternative à la voiture</h5>
                  
                </div>
              </div>
            </div>
              <div class="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'images/eco.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Objectifs principaux en matière d'émissions</h5>
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow" style="width: 18rem;">
                        <img src="{% static 'images/world.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Réduire notre impact environnemental</h5>
                          
                        </div>
                    </div>
                </div><br>
    

</div>
</div>
<div class="container ">
  <style>
    .card {
      border:none;
      padding: 5px;
    }

    .card::after {
      position: absolute;
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .card:hover {


      transform: scale(1.02, 1.02);
      -webkit-transform: scale(1.02, 1.02);
      backface-visibility: hidden; 
      will-change: transform;
      box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
    }

    .card:hover::after {
      opacity: 1;
    }

    .card:hover .btn-outline-primary{
      color:white;
      background:#007bff;
    }

  </style>
<h1>Nos formules les plus populaires</h1> <br>
<div class="container-fluid" style="background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);">
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-4 col-md-5 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <div class="text-center p-3">
              <h1 class="card-title">1H</h1>
              <span class="h2">25 DH</span>/pers
            </div>
          </div>
          
          <div class="card-body text-center">
            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">25 DH</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <div class="text-center p-3">
              <h1 class="card-title">4H</h1>
              <span class="h2">80 DH</span>/pers 
            </div>
          </div>
    
          <div class="card-body text-center">
            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">80 DH</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <div class="text-center p-3">
              <h1 class="card-title">8H</h1>
              <span class="h2">120 DH</span>/pers
            </div>
           
          </div>
          
          <div class="card-body text-center">
            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">120 DH</button>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
{% endblock %}