{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Welcome to MyRide</h1>
    <p>It's the bright one!</p>
    <p>Notre mission : construire un avenir où le transport est partagé, accessible à tous et bas carbone.</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 30rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col-lg-6">
            <div class="card" style="width: 30rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

    </div>
</div>   

{% endblock %}