{% extends "base.html" %}
{% block content %}
{% load static %} 
<div class="container">
  
  <div class="row mt-4 mb-4">
    <div class="col-lg-6 shadow p-4">
        {% for message in messages %}
        <strong class="text center"><i style="color: green;">{{message}}</i></strong>
        {% endfor %}
        <h2>Sign Up</h2>
        <form action="signup" method="post">
          {% csrf_token %}  
          <div class="form-row">
                <div class="col">
                    <label for="exampleInputName">Nom</label>
                    <input type="text" name="nom" class="form-control" placeholder="Last name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputPrenom">Prénom</label>
                  <input type="text" name="prenom" class="form-control" placeholder="First name" required>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="inputEmail4">Adresse Email</label>
                <input  type="email" name="email" class="form-control" id="inputEmail4" placeholder="name@example.com" required>
                {% if error_mail %}
                <small  class="form-text text-danger">{{error_mail}}</small>
                {% endif %}
              </div>
              
              <div class="form-group col-md-6">
                <label for="inputPassword4">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="inputPassword4" required>
                {% if error_pass %}
                <small  class="form-text text-danger">{{error_pass}}</small>
                {% endif %}
          
              </div>
            </div>
            <div class="form-group">
                <label for="inputNumTelephone">Téléphone</label>
                <input type="number" name="telephone" class="form-control" id="inputNumTelephone" placeholder="+212 6XX-XXXXXX" required>
              </div>
            <div class="form-group">
              <label for="inputAddress">Adresse</label>
              <input type="text" name="adresse"class="form-control" id="inputAddress" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">CIN</label>
                <input type="file" name="cin" class="form-control-file" id="exampleFormControlFile1" >
            </div>
            
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Se souvenir de moi
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
    
    </div>
    <div class="col-lg-6">
      <img src="{% static 'images/velhome.jpeg' %}" alt="" height="600" width="600">
    
    </div>
  </div>
</div>



{% endblock %}