{% extends "base.html" %}
{% block content %}
{% load static %}        
<script>
    
    $( document ).ready(function() {
        $('#reserve-form').hide()
        console.log("Hiding form")
    });

    function showForm(des) {
        console.log("showing form", des)
        $('#reserve-form').show()
        $('#designation').val(des)

    }
</script>   
<div class="container m-5 text-center">
    <div class="row">
        {% for elt in vehicules %}
        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;"><br>
                <h5 class="card-title">{{elt.designation}}</h5>
                <img src="{{elt.photo}}" class="card-img-top" alt="My image" height="350" width="378">

                <div class="card-body">
                  <span>Stock: </span> <span>{{elt.stock}}</span> <br><br>
                  <span>Disponible: </span> <span>{{elt.dispo}}</span> <br><br>
                  {% if elt.dispo >= 1 %}
                  <button href="{% url 'scan' %}" onclick='showForm("{{elt.designation}}")' class="btn btn-success">Reserver</button>
                  {% else %}
                  <button class="btn btn-danger disabled">Reserver</button>
                  {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="m-5" id="reserve-form">
<form action="facture" method="post">
    <div class="form-row">
      <div class="col col-lg-4">
        <label for="exampleInputEmail1">Heure debut</label>
        <input type="datetime-local" class="form-control" placeholder="Heure debut">
        <input type="hidden" id="designation" name="designation">

      </div>
      <div class="col col-lg-4">
        <label for="exampleInputEmail1">Heure fin</label>
        <input type="datetime-local" class="form-control" placeholder="Heure fin">
      </div>
    </div>
    <div class="form-row">
        <div class="col col-lg-4">
            <button class="mt-2 btn btn-primary btn-lg">Valider</button>
        </div>
    </div>
</form>
</div>

{% endblock %}