{% extends "base.html" %}
{% block content %}
{% load static %}           
<div class="container mt-5 mb-5 text-center">
    <div class="row">
        {% for elt in vehicules %}
        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;"><br>
                <h5 class="card-title">{{elt.designation}}</h5>
                <img src="{{elt.photo}}" class="card-img-top" alt="My image" height="350" width="378">

                <div class="card-body">
                  <span>Stock: </span> <span>{{elt.stock}}</span> <br><br>
                  <span>Disponible: </span> <span>{{elt.dispo}}</span> <br><br>
                  <a href="{% url 'scan' %}" class="btn btn-success">Reserver</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<form>
    <div class="form-row">
      <div class="col">
        <label for="exampleInputEmail1">Heure debut</label>
        <input type="datetime-local" class="form-control" placeholder="Heure debut">
      </div>
      <div class="col">
        <label for="exampleInputEmail1">Heure fin</label>
        <input type="datetime-local" class="form-control" placeholder="Heure fin">
      </div>
    </div>
</form><br><br>
{% endblock %}